


<style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active, .collapsible:hover {
    background-color: #555;
    border: none;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapse_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
</style>


  {% for post in site.posts %}
    {% if post.title == include.title %}
      <h2>{{ post.title }}</h2>
      <button class="collapsible">{{ post.title }}</button>
      <div class="collapse_content">
        Lorem ipsum...
        Lorem ipsum...
        Lorem ipsum...
        Lorem ipsum...
      </div>
    {% endif %}
  {% endfor %}




<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
</script>
